<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        </ul>
    </div>
    </nav>
</header>

<div class="container">
    {{#each article}}
        {{#unless saved}}
        
        {{#if imgURL}}
        <div class="card mb-3">
            <img class="card-img-top" src="{{imgURL}}" alt="Card image cap">
            <div class="card-body">
                <a href="{{articleURL}}">
                    <h5 class="card-title">{{articleTitle}}</h5>
                </a>
                <p class="card-text">{{articleSnippet}}</p>
                <a href="#" class="btn btn-primary">Save Article</a>
            </div>
        </div>      
        {{else}}
            <div class="card">
                <div class="card-body">
                    <a href="{{articleURL}}">
                        <h5 class="card-title">{{articleTitle}}</h5>
                    </a>
                    <p class="card-text">{{articleSnippet}}</p>
                    <a href="#" class="btn btn-primary">Save Article</a>
                </div>
            </div>
        {{/if}}
        {{/unless}}
    {{/each}}
</div>
